.base {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

app-tasks-list {
  flex-grow: 1;
  height: 100%;
  background: red;
  display: block;
}

app-task {
  flex-grow: 1;
  height: 100%;
  background: orange;
  display: block;
}

app-map {
  flex-grow: 1;
  height: 100%;
  background: blue;
  display: block;
}
