:host.base {
  width: 67%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.main-container-orange {
  width: 50%;
  height: 100%;
  background-color: orange;
}

.show-map {
  display: none;
}

@media (max-width: 520px) {
  :host.base {
    width: 100%;
  }

  .main-container-orange {
    width: 100%;
  }

  .show-map {
    display: block;
    background: white;
  }
}
