:host.base {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.main-container-blue {
  width: 100%;
  height: 100%;
  background-color: blue;
}



@media (max-width: 520px) {
  :host.base {
    width: 100%;
  }

  .main-container-blue {
    width: 100%;
  }


}
